<header>
	<nav class="navbar navbar-default navbar-fixed-top" style=" margin-bottom: 0">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">
	      	<img src="images/logo.png" height="30">
	      </a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right" style="margin-right: 10px; ">
	        <li><a href="/">HOME</a></li>
	        <li><a href="/architecture">ARCH</a></li>
	        <li><a href="/services">SERVICES</a></li>
	        <li uib-dropdown>
			  <a href id="tutorial-dropdown" uib-dropdown-toggle style="padding-left: 5px;">
			    TUTORIAL
			    <span class="caret"></span>
			  </a>
			  <ul uib-dropdown-menu role="menu" aria-labelledby="tutorial-dropdown">
			    <li role="menuitem"><a href="/tutorial/data-exchange">Data Exchange</a></li>
			    <li role="menuitem"><a href="/tutorial/city-services">City Service</a></li>
			    <li role="menuitem"><a href="/tutorial/connector">Connector</a></li>
			    <li role="menuitem"><a href="/tutorial/marketplace">Marketplace</a></li>
			    <li role="menuitem"><a href="/tutorial/developer-portal">Developer Portal</a></li>
			    <li role="menuitem"><a href="/tutorial/visualization">Visualization</a></li>
			  </ul>
			</li>
	        <li><a href="/marketplace">MARKETPLACE</a></li>
	        <li><a href="/about-us">ABOUT</a></li>
			<li ng-hide="!auth" uib-dropdown>
			  <a href id="user-dropdown" uib-dropdown-toggle style="padding-left: 5px;">
			    <img style="width: 20px; height: 20px; border-radius: 10px; margin-right: 5px;" src="{{user.thumbnail == null && 'images/user-default.jpg' || user.thumbnail}}">
			    {{user.userName}}
			    <span class="caret"></span>
			  </a>
			  <ul uib-dropdown-menu role="menu" aria-labelledby="user-dropdown">
			    <li role="menuitem"><a href="/myProfile">My Profile</a></li>
			    <li role="menuitem"><a href="/" ng-click="logout()">Log out</a></li>
			  </ul>
			</li>
	        <button ng-hide="auth" type="button" ng-click="openModal()" class="btn btn-default navbar-btn">LOG IN</button>
	      </ul>
	    </div>
	  </div>
	</nav>
</header>
<div class="container arch">
	<div class="row text-center">
		<h1>CITY SERVICES</h1>
	</div>
	<div class="row" style="margin: 5vh 0;">
		<div class="col-md-5 col-md-offset-1">
			<h2>Connect to your services with us for better monitoring.</h2>
			<p>
				ใน Integrated Smart City Cloud Platform นั้นได้แบ่งข้อมูลออกเป็นสองระดับตามความหมายของข้อมูล หากข้อมูลนั้นมีระดับความหมายที่สูง (meaningful) จะถูกเรียกว่า city service ซึ่งข้อมูลประเภทนี้ส่วนใหญ่จะได้มาจากการประมวลผลข้อมูลในระดับความหมายที่ต่ำกว่า เช่น การทำการวิเคราห์ข้อมูล (data analytics) หรือการประมวลผลข้อมูล (data processing) เป็นต้น ส่วนข้อมูลที่มีระดับความหมายที่ต่ำกว่าจะเรียกว่า data collection ซึ่งส่วนใหญ่จะได้มาจากข้อมูลดิบ เช่น ข้อมูลที่ได้จากเซนเซอร์โดยตรง เป็นต้น
			</p>
		</div>
		<div class="col-md-4 hidden-xs " style="margin-top: 7vh;">
			<img class="serviceImg2" src="images/services/cityservice1.png">
		</div>
		<div class="col-md-9 col-md-offset-1">
			<p>
				City Service Platform ได้ถูกพัฒนาขึ้นเพื่อเป็นแพลตฟอร์มในการจัดการกับ city service ของผู้ใช้ในระบบ โดยผู้ใช้สามารถสร้างและแก้ไข city service ของตัวเองได้ ซึ่งหลักการคือผู้ใช้ทำการอัพโหลดโปรแกรมประมวลผลเข้าไปใน city service ที่สร้างขึ้น หลังจากนั้นทุกครั้งที่มีคนเรียกข้อมูลของ city service นั้นๆ ตัวโปรแกรมจะถูกเรียกใช้และส่งข้อมูลที่ถูกประมวลผลแล้วกลับไป
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9 col-md-offset-1">
			<h2>example</h2>
			<div class="row market-content" ng-repeat="service in services | limitTo : 2">
				<div class="col-md-2 col-xs-4 text-center">
					<figure class="figure">
					  <img ng-src="{{service.thumbnail  == null && 'images/user-default.jpg' || service.thumbnail}}" style="width:100%; margin-bottom: 1vh;" class="figure-img img-fluid rounded">
					  <figcaption class="figure-caption text-center">{{service.owner}}</figcaption>
					</figure>
				</div>
				<div class="col-md-9 col-xs-4 col-xs-offset-1">
					<div class="row">
						<h4 class="hide-text">{{service.serviceName}}</h4>
						<p class="hide-text">{{service.description}}</p>
					</div>
					<div class="row">
						<div class="col-md-3 col-md-offset-9 col-xs-offset-5 text-right">
							<button ng-click="goto('/marketplace/city-service/'+service.serviceId)" type="button" class="btn btn-default">รายละเอียด</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9 col-md-offset-1 text-center" style="margin-top: 5vh;">
			<button type="button" ng-click="goto('/marketplace/city-service')" class="btn btn-default2 btn-lg">เพิ่มเติม</button>
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	<div class="row">
		<div class="col-md-9 col-md-offset-1">
			<h2>ADDITIONAL RESOURCES</h2>
			<br/>
			<br/>
			<div class="row text-center">
				<div class="col-xs-2 col-xs-offset-2"> 
					<h4>goto</h4>
				</div>
				<div class="col-xs-2">
					<button class="btn-default">tutorial</button>
				</div>
			</div>
		</div>
	</div>
	
</div>