<header>
	<nav class="navbar navbar-default navbar-fixed-top" style=" margin-bottom: 0">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">
	      	<img src="images/logo.png" height="30">
	      </a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right" style="margin-right: 10px; ">
	        <li><a href="/">HOME</a></li>
	        <li><a href="/architecture">ARCH</a></li>
	        <li><a href="/services">SERVICES</a></li>
	        <li uib-dropdown>
			  <a href id="tutorial-dropdown" uib-dropdown-toggle style="padding-left: 5px;">
			    TUTORIAL
			    <span class="caret"></span>
			  </a>
			  <ul uib-dropdown-menu role="menu" aria-labelledby="tutorial-dropdown">
			    <li role="menuitem"><a href="/tutorial/data-exchange">Data Exchange</a></li>
			    <li role="menuitem"><a href="/tutorial/city-services">City Service</a></li>
			    <li role="menuitem"><a href="/tutorial/connector">Connector</a></li>
			    <li role="menuitem"><a href="/tutorial/marketplace">Marketplace</a></li>
			    <li role="menuitem"><a href="/tutorial/developer-portal">Developer Portal</a></li>
			    <li role="menuitem"><a href="/tutorial/visualization">Visualization</a></li>
			  </ul>
			</li>
	        <li><a href="/marketplace">MARKETPLACE</a></li>
	        <li><a href="/about-us">ABOUT</a></li>
			<li ng-hide="!auth" uib-dropdown>
			  <a href id="user-dropdown" uib-dropdown-toggle style="padding-left: 5px;">
			    <img style="width: 20px; height: 20px; border-radius: 10px; margin-right: 5px;" src="{{user.thumbnail == null && 'images/user-default.jpg' || user.thumbnail}}">
			    {{user.userName}}
			    <span class="caret"></span>
			  </a>
			  <ul uib-dropdown-menu role="menu" aria-labelledby="user-dropdown">
			    <li role="menuitem"><a href="/myProfile">My Profile</a></li>
			    <li role="menuitem"><a href="/" ng-click="logout()">Log out</a></li>
			  </ul>
			</li>
	        <button ng-hide="auth" type="button" ng-click="openModal()" class="btn btn-default navbar-btn">LOG IN</button>
	      </ul>
	    </div>
	  </div>
	</nav>
</header>
<div class="container" style="margin-top: 10vh;">
	<div class="row">
		
		<div class="col-md-3 col-xs-8 col-xs-offset-2 col-md-offset-0">
			<h1>MY PROFILE</h1>
			<div class="row myProfile-box">
				<div class="col-xs-8 col-xs-offset-2">
					<div class="row">
						<img class="profile-img" src="{{user.thumbnail == null && 'images/user-default.jpg' || user.thumbnail}}">
					</div>
					<div class="row">
						<h3>{{user.userName}}</h3>
						<div style="text-align: left;">	
							<!-- <p><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Credit:</p> -->
							<p><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Data Collections: {{collectionsTotalElements}}</p>
							<p><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> City Services: {{servicesTotalElements}}</p>
						</div>
						
						<p><button class="btn-default" ng-click="goto('/myProfile')">my profile</button></p>
						<p><button class="btn-default" ng-click="goto('/myProfile/city-service')">my city service</button></p>
						<p><button class="btn-default" ng-click="goto('/myProfile/collection')">my data collection</button></p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-xs-12 col-md-9" style="margin-top: 50px;">
			<div class="col-md-9 col-md-offset-1 col-xs-12">
				<h3>Collection Name*</h3>
				<input class="create-input" type="text" ng-model="collectionName">
				<br>
				<h3>Description</h3>
				<input class="create-input" type="text" ng-model="collectionDescription">
				<h3>example</h3>
				<input class="create-input" type="text" ng-model="collectionExample">
				<h3>Category</h3>
	      		<select class="form-control" ng-model="collectionCategory">
			  		<option value="smart environment">Smart environment</option>
			  		<option value="smart utility">Smart utility</option>
			  		<option value="smart economy">Smart economy</option>
			  		<option value="smart living">Smart living</option>
			  		<option value="smart mobility">Smart mobility</option>
			  		<option value="Other">Other</option>
				</select>
				<h3>Type</h3>
	      		<select class="form-control" ng-model="collectionType">
			  		<option value="timeseries">Timeseries</option>
			  		<option value="geotemporal">Geotemporal</option>
			  		<option value="keyvalue">Keyvalue</option>
			  		<option value="remote">Remote</option>
				</select>
			</div>
			<div class="col-md-9 col-md-offset-1 col-xs-12" ng-if="collectionType == 'timeseries'">
				<h3>Columns</h3>
				<div>
					<label>Name: <input class="form-control" ng-model="ts.name"  readonly></label>
			      	<label>
			      		Type: <input class="form-control" ng-model="ts.type"  readonly>
					</label>
					<label>
			      		Indexed:
			      		<input class="form-control" ng-model="ts.index"  readonly>
					</label>
			    </div>
				<div  ng-repeat="column in columns">
					<label>Name: <input class="form-control" ng-model="column.name" value="ts" readonly></label>
			      	<label>
			      		Type: <input class="form-control" ng-model="column.type" value="timestamp" readonly>
					</label>
					<label>
			      		Indexed:
			      		<input class="form-control" ng-model="column.indexed" ng-value="true" readonly>
					</label>
			      	<button class="btn btn-default" ng-click="deletets($index)" aria-label="Remove">
			      		<span class="glyphicon glyphicon-trash"></span>
			      	</button>
			    </div>
			    <div>
			      	<label>Name: <input class="form-control" ng-model="aname"></label>
			      	<label>
			      		Type:
			      		<select class="form-control" ng-model="atype">
					  		<option value="varchar">varchar</option>
					  		<option value="int">int</option>
					  		<option value="bigint">bigInt</option>
					  		<option value="double">double</option>
					  		<option value="text">text</option>
					  		<option value="timestamp">timestamp</option>
						</select>
					</label>
			      	<label>
			      		Indexed:
			      		<select class="form-control" ng-model="aindexed">
					  		<option ng-value="true">true</option>
					  		<option ng-value="false">false</option>
						</select>
					</label>

			      	<button class="btn btn-default" ng-click="addClick(aname,atype,aindexed)">
			      		<span class="glyphicon glyphicon-plus"></span> Add
			      	</button>
			    </div>
			</div>
			<div class="col-md-9 col-md-offset-1 col-xs-12" ng-if="collectionType == 'remote'">
				<h3>endPoint</h3>
				<div>
					<h3>URL</h3>
					<input class="create-input" type="text" ng-model="url">
				</div>
				<div  ng-repeat="header in headers">
					<label>Name: <input class="form-control" ng-model="header.name" value="ts" readonly></label>
			      	<label>
			      		Type: <input class="form-control" ng-model="header.type" value="timestamp" readonly>
					</label>
					<label>
			      		Indexed:
			      		<input class="form-control" ng-model="header.indexed" ng-value="true" readonly>
					</label>
			      	<button class="btn btn-default" ng-click="delete($index)" aria-label="Remove">
			      		<span class="glyphicon glyphicon-trash"></span>
			      	</button>
			    </div>
			    <div>
			      	<label>Name: <input class="form-control" ng-model="aname"></label>
			      	<label>
			      		Type:
			      		<select class="form-control" ng-model="atype">
					  		<option value="varchar">varchar</option>
					  		<option value="int">int</option>
					  		<option value="bigint">bigInt</option>
					  		<option value="double">double</option>
					  		<option value="text">text</option>
					  		<option value="timestamp">timestamp</option>
						</select>
					</label>
			      	<label>
			      		Indexed:
			      		<select class="form-control" ng-model="aindexed">
					  		<option ng-value="true">true</option>
					  		<option ng-value="false">false</option>
						</select>
					</label>

			      	<button class="btn btn-default" ng-click="addClick(aname,atype,aindexed)">
			      		<span class="glyphicon glyphicon-plus"></span> Add
			      	</button>
			    </div>
			</div>
			<div  class="col-md-9 col-md-offset-1 col-xs-12">
				<h3>Status</h3>
				<div class="form-check">
				  <input class="form-check-input" ng-model="collectionOpen" type="radio" ng-value="true" checked>
				  <label class="form-check-label" for="exampleRadios1">
				    Public
				  </label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" ng-model="collectionOpen" type="radio" ng-value="false">
				  <label class="form-check-label" for="exampleRadios2">
				    Private
				  </label>
				</div>
			    <div ng-show="error" class="alert alert-danger">{{error}}</div>
			</div>

			<div class="col-md-3 col-md-offset-9 col-xs-4 col-xs-offset-4">
				<br/>
				<h4>
					<button ng-click="create()" class="btn-default1">next</button>
				</h4>
			</div>
			
		</div>
		
	</div>	
</div>
<br>
<br>
<br>